{% load static %}
{% load humanize %}

<section class="card-outer mb-md-2 p-1" aria-label="{{ entry.title }} by {{ entry.author }}">
    <div class="card inner-card h-100 clickable" onclick="this.querySelector('#{{ entry.slug }}').click()">
        
        <!-- Show author name and profile pic for entries not on the personal dashboard -->
        {% if not dashboard_view %}
        <div class="card-header">
            <p class="user-line">
                <a href="{% url 'user_profile' entry.author.username %}" class="user-link">
                {% if "placeholder" in entry.author.profile.pic.url %}
                <img loading="lazy" src="{% static 'images/default_profile.webp' %}" alt="Placeholder avatar"
                    width="30" height="30" class="rounded-circle avatar-sm">
                {% else %}
                <img loading="lazy" src="{{ entry.author.profile.pic.url }}" alt="User profile picture" width="30"
                    height="30" class="rounded-circle avatar-sm">
                {% endif %}
                <span>{{ entry.author }}</span>
                </a>
            </p>
            <h2>
                <a href="{% url 'entry_details' entry.slug %}" class="title-link" id="{{ entry.slug }}">
                    <span>{{ entry.title }}</span>
                </a>
            </h2>
        </div>

        {% else %}
        <div class="card-header pt-3">
            <a href="{% url 'dashboard_entry' user.username entry.slug %}" class="ms-1 d-inline-block"
                id="{{ entry.slug }}">
                <h2>
                    <!-- The dashboard page adds a private/public icon to each entry -->
                    {% if entry.publish == 0 %}
                    <i class="fa-solid fa-lock publicity-icon align-middle" title="Private"></i>
                    {% else %}
                    <i class="fa-solid fa-globe publicity-icon" title="Public"></i>
                    {% endif %}
                    {{ entry.title }}
                </h2>
            </a>
        </div>
        {% endif %}

        <!-- Playable audio file, date, short description preview and tags -->
        <div class="card-body d-flex flex-column">
            <audio controls preload="none" class="w-100 my-3" aria-label="Audio file titled {{ entry.title }}">
                <source src="{{ entry.audio_file.url }}" type="audio/mpeg">
                Your browser does not support the audio tag.
            </audio>
            <p class="text-muted flex-fill">
                Created {{ entry.created_on|naturalday }}
            </p>
            <p class="text-muted flex-fill">
                {{ entry.description|striptags|cut:'&nbsp;'|truncatewords:"10" }} ...
            </p>
            <div class="tag-container" role="region" aria-label="Tags">
                <p class="m-0">
                    {% for tag in entry.tags.all %}
                    <a href="{% url 'filter_tag' tag %}">
                        <span class="tag hover-highlight">{{ tag }}</span></a>
                    {% endfor %}
                </p>
            </div>
        </div>
        
        <!-- Panel with like button and comment count -->
        <div class="card-footer d-flex flex-wrap align-content-center">
            {% if like %}
            <!-- Evaluates to true if the request comes from the favorites page of the user dashboard -->
            {% with entry=like %}
            {% include 'likes/snippets/like_comment_summary.html' %}
            {% endwith %}
            {% else %}
            {% include 'likes/snippets/like_comment_summary.html' %}
            {% endif %}
        </div>
    </div>
</section>