{% load static %}
{% load humanize %}


<div class="card-full-page mt-1 mt-md-2 mb-md-2 p-1">
    <div class="card no-shadow">
        <div class="card-header p-2 p-md-3">
            {% if not dashboard_view %}
            <p>
                {% if "placeholder" in entry.author.profile.pic.url %}
                <img src="{% static 'images/default_profile.jpg' %}" alt="user profile picture" width="30" height="30"
                    class="rounded-circle avatar-sm">
                {% else %}
                <img src="{{ entry.author.profile.pic.url }}" alt="user profile picture" width="30" height="30"
                    class="rounded-circle avatar-sm">
                {% endif %}
                <a href="{% url 'user_profile' entry.author.username %}" class="user-link">
                    {{ entry.author }}
                </a>
            </p>
            <h3 class="larger-title">{{ entry.title }}</h3>
            {% else %}
            <p>
            <h3 class="larger-title">
                {% if entry.publish == 0 %}
                <i class="fa-solid fa-lock"></i>
                {% else %}
                <i class="fa-solid fa-globe"></i>
                {% endif %}
                {{ entry.title }}
            </h3>
            </p>
            {% endif %}
        </div>


        <div class="card-body d-flex flex-column p-2 p-md-3">
            <audio controls class="w-100 my-3">
                <source src="{{ entry.audio_file.url }}" type="audio/mpeg">
                Your browser does not support the audio tag.
            </audio>
            <p class="text-muted p-2">Created {{ entry.created_on|naturalday }}</p>

            {% if old_files|length > 0 %}
            <div class="d-flex flex-column p-2 p-md-3">
                <p>Previous versions:</p>
                {% for file in old_files.values %}
                <audio controls class="my-1">
                    <source src="{{ file.0 }}" type="audio/mpeg" />
                    Your browser does not support the audio tag.
                </audio>
                {% endfor %}
            </div>
            {% endif %}

            <div class="tag-container px-1 px-md-2">
                <p class="m-0">
                    {% for tag in entry.tags.all %}
                    <a href="{% url 'filter_tag' tag %}">
                        <span class="tag hover-highlight">{{ tag }}</span>
                    </a>
                    {% endfor %}
                </p>
            </div>

        </div>
        <div class="card-footer d-flex flex-wrap align-content-center px-2 px-md-3">
            {% include 'likes/snippets/like_comment_summary.html' %}
        </div>
    </div>
    <div class="card card-desc no-shadow d-flex flex-column">
        <div class="p-2 p-md-3">
            <p class="text-muted">About this entry</p>
            <p>
                {{ entry.description | safe}}
            </p>
        </div>
    </div>
</div>