/* ----------------- About page ----------------- */

.about-page h1 {
  font-size: 1.5rem;
}

.about-page h2 {
  font-size: 1.3rem;
}

.about-page .btn-general {
  border: 1px solid black;
  border-radius: 0;
}

input,
.form-control {
  border: 1px solid black;
  border-radius: 0;
  background-color: #f5f8f1;
}

@media screen and (max-width: 768px) {
  h1,
  h2 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 576px) {
  h1,
  h2 {
    font-size: 1rem;
  }
}
