/* .gradient-custom {
    background: #f6d365;
    
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
    }
 */

 .profile-bg {
    background-color: rgb(46, 46, 46);
 }

 .profile-card {
    background-color: transparent;
    /* border: 1px solid black; */
    border: none;
    border-radius: 0;
    color:antiquewhite;
 }

 .profile-card a {
text-decoration: none;
color: antiquewhite;
}

 .avatar-lg {
    object-fit: cover;
    width: 120px;
    height: 120px;
 }