{% load static %}

    <p class="ms-2 mb-0">
        {% if user.is_authenticated and entry.author != user %}
            
            <a class="btn-like like" data-entry_id="{{ entry.id }}" href="{{ request.path }}">

                {% if entry.already_liked == 1 or is_favorite == 1 %}
                <i class="fa-solid fa-heart like-red hover-scale"></i>
                {% else %}
                <i class="fa-regular fa-heart hover-scale"></i>
                {% endif %}
            </a>
        {% else %}
        <i class="fa-regular fa-heart text-muted hover-tooltip" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Log in to like and comment"></i>
        {% endif %}
        {{ entry.likes_received }} | <i class="fa-regular fa-comment hover-scale"></i> {{entry.comments_received }}
    </p>

