{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="col-md-8 col-sm-12 mx-auto card-container">
    <h3 class="m-3">Your comments</h3>

    {% for comment in page_obj %}

    <div class="card d-flex flex-row mx-3 p-2 gap-2">
        {% with comment.entry as entry %}
        <div class="d-flex flex-row gap-2">
            <p>On entry </p>
            <a href="{% url 'entry_details' entry.slug %}">
                <h5>{{ entry.title }}</h5>
            </a>
            <p>by author</p>
        </div>
        <div class="ms-1">
            {% if "placeholder" in entry.author.profile.pic.url %}
            <img src="{% static 'images/default_profile.jpg' %}" alt="user profile picture" width="30" height="30"
                class="rounded-circle me-1">
            {% else %}
            <img src="{{ entry.author.profile.pic.url }}" alt="user profile picture" width="30" height="30"
                class="rounded-circle me-1">
            {% endif %}
            <a href="{% url 'user_profile' entry.author.username %}">{{ entry.author }}:</a>
        </div>

        {% endwith %}
    </div>
    <div class="card mx-3 mb-3 p-2">
        <div class="commented-section mt-2">
            <div class="d-flex flex-row align-items-center commented-user">

                <!-- <p class="flex-fill"></p> -->

                <div id="comment{{ comment.id }}" class="comment-text-sm my-2 flex-fill">
                    <span>{{ comment.content|linebreaks }}</span>
                </div>
                <p class="mt-1 ms-2 text-muted text-end">on {{ comment.created_on }}</p>
            </div>


            {% if user.is_authenticated and comment.author == user %}
            <div id="commentform{{ comment.id }}" class="comment-text-sm my-2 visually-hidden">
                <form method="POST" action="" id="editCommentForm{{ comment.id }}"
                    class="d-flex flex-row flex-fill justify-content-center mt-4 mb-4">
                    {% csrf_token %}

                    <label for="updatedComment{{ comment.id }}" class="visually-hidden">Your
                        Comment:</label>
                    <textarea type="text" class="flex-fill form-control" name="content"
                        id="updatedComment{{ comment.id }}"></textarea>
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <div class="d-flex flex-column">
                        <button class="btn btn-primary" name="updateOld" type="submit">Update</button>
                    </div>
                </form>
            </div>
            <div>
                <button type="button" class="btn btn-edit btn-success" data-comment_id="{{ comment.id }}">Edit</button>
                <button type="button" class="btn btn-delete btn-danger" data-comment_id="{{ comment.id }}"
                    data-bs-toggle="modal" data-bs-target="#modalDelete">Delete</button>

            </div>
            {% endif %}

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalTitleId"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">
                        Delete comment?
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">Are you sure you want to delete your comment? This action cannot be
                        undone!
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        No, cancel
                    </button>
                    <a id="deleteConfirm" href="{{ request.path }}" class="btn btn-danger" role="button">Yes, delete</a>
                </div>
            </div>
        </div>
    </div>



    {% with comment.entry as entry %}
    <!-- <div class="card">
    <div class="card-header">
        <p>
            {% if "placeholder" in entry.author.profile.pic.url %}
            <img src="{% static 'images/default_profile.jpg' %}" alt="user profile picture" width="30" height="30"
                class="rounded-circle">
            {% else %}
            <img src="{{ entry.author.profile.pic.url }}" alt="user profile picture" width="30" height="30"
                class="rounded-circle">
            {% endif %}
            <a href="{% url 'user_profile' entry.author.username %}">{{ entry.author }}</a>
        </p>
        <a href="{% url 'entry_details' entry.slug %}">
            <h3>{{ entry.title }}</h3>
        </a>
        <p>Created: {{ entry.created_on|date:"Y, M d" }}</p>
    </div>
    <div class="card-body">
        <audio controls class="w-100">
            <source src="{{ entry.audio_file.url }}" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
        <p>
            {{ entry.tags.all|join:", " }}
        </p>

    </div>
    

</div> -->
    {% endwith %}

    {% empty %}
    <div>
        <p>You have no favorites yet.</p>
    </div>
    {% endfor %}
</div>


{% include 'pagination.html' %}

{% endblock %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}