{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/user-profile-styles.css' %}">
{% endblock %}

{% block content %}

<section style="background-color: #f4f5f7;">

    {% include 'profile_card.html' %}

    <div class="container">
        <h1>My Entries</h1>

        <a href="{% url 'new_entry' user.username %}" class="btn btn-success" role="button">New Entry</a>

        <form method="GET">
            <p>Sort entries:</p>
            <button name="sorted" id="by_likes" value="by_likes" class="btn btn-primary" href="#" type="submit">Most
                popular</button>
            <button name="sorted" id="by_date" value="by_date" class="btn btn-primary" href="#" type="submit">Newest
                first</button>
            <button name="sorted" id="by_published" value="by_published" class="btn btn-primary" href="#"
                type="submit">By published</button>
        </form>

        <!-- Maybe load entry details for this user on the profile page? -->

        
        {% for entry in page_obj %}
        <div class="card">
            <div class="card-header">
                <div class="d-flex flex-row align-items-center">
                {% if entry.publish == 0 %}
                <i class="fa-solid fa-lock"></i>
                {% else %}
                <i class="fa-solid fa-globe"></i>
                {% endif %}
                <a href="{% url 'dashboard_entry' user.username entry.slug %}" class="ms-3">
                    <h3>{{ entry.title }}</h3>
                </a>
            </div>

                <p>Created: {{ entry.created_on|date:"Y, M d" }}</p>
            </div>
            <div class="card-body">
                <audio controls class="w-100">
                    <source src="{{ entry.audio_file.url }}" type="audio/mpeg">
                    Your browser does not support the audio tag.
                </audio>
                <p>
                    {{ entry.tags.all|join:", " }}
                </p>

                {% include 'like_comment_summary.html' %}

            </div>
        </div>
        {% empty %}
        <div>
            <p>This user has not uploaded any songs yet.</p>
        </div>
        {% endfor %}

        {% include 'pagination.html' %}

    </div>
</section>
{% endblock %}