{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/entries-styles.css' %}">
{% endblock %}

{% block content %}
<div class="row g-0 h-100 sidebar-margin">
    <div class="m-auto col-12 col-md-10">
        <div class="row g-0 justify-content-center">
            <!-- Edit/Delete buttons for entries -->
            <div class="entry-button-container mt-1 mt-md-2 mb-md-2 p-1">
                <a href="{% url 'edit_entry' user.username entry.slug %}" class="btn btn-edit-entry hover-highlight"
                    role="button">
                    <i class="fa-solid fa-pen"></i>
                    <span class="ms-2">Edit Entry</span>
                </a>
                <!-- Button to trigger 'delete confirmation' modal -->
                <button type="button" class="btn btn-delete-entry hover-highlight" data-bs-toggle="modal"
                    data-bs-target="#modalDeleteEntry">
                    <i class="fa-solid fa-trash"></i>
                    <span class="ms-2">Delete Entry</span>
                </button>
            </div>
        </div>
        <!-- Full-page entry content -->
        <div class="row g-0 justify-content-center">
            {% include 'entries/snippets/entry_fullpage.html' %}
        </div>
        <!-- Comment section -->
        {% include 'comments/snippets/comment_section.html' %}
    </div>

    <!-- Modal for entry deletion -->
    {% url 'delete_entry' user.username entry.slug as delete_url %}
    {% with modal_text=modal_text modal_id="modalDeleteEntry" modal_title_id="modalTitleIdDeleteEntry" modal_title_text=modal_title delete_button_id="deleteEntryConfirm" new_url=delete_url %}
    {% include 'mainpage/snippets/modal.html' %}
    {% endwith %}
</div>
{% endblock %}

{% block extras %}
<script src="{% static 'js/likes.js' %}"></script>
{% endblock %}