{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/entries-styles.css' %}" />
{% endblock %}

{% block content %}
<div class="row g-0 h-100 sidebar-margin">
    <div class="m-auto col-12 col-md-10">

        <!-- <div class="d-flex flex-wrap w-100 m-auto card-container justify-content-center justify-content-md-start "> -->
        <div class="row g-0 justify-content-center">
            <div class="card-full-page mt-1 mt-md-2 mb-md-2 p-1">

                <div class="entry-button-container">
                    <a href="{% url 'edit_entry' user.username entry.slug %}"
                        class="btn btn-edit btn-large hover-highlight" role="button"><i
                            class="fa-solid fa-pen"></i><span class="ms-2">Edit Entry</span></a>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-delete btn-large hover-highlight" data-bs-toggle="modal"
                        data-bs-target="#modalDeleteEntry"><i class="fa-solid fa-trash"></i><span class="ms-2">Delete
                            Entry</span></button>
                </div>

                <div class="card no-shadow ">
                    <div class="card-header p-2 p-md-3">
                        <p>
                        <h3 class="larger-title">
                            {% if entry.publish == 0 %}
                            <i class="fa-solid fa-lock"></i>
                            {% else %}
                            <i class="fa-solid fa-globe"></i>
                            {% endif %}
                            {{ entry.title }}
                        </h3>

                    </div>
                    <div class="card-body d-flex flex-column p-2 p-md-3">
                        <audio controls class="w-100 my-3">
                            <source src="{{ entry.audio_file.url }}" type="audio/mpeg">
                            Your browser does not support the audio tag.
                        </audio>
                        <p class="text-muted p-2">Created {{ entry.created_on|naturalday }}</p>

                        {% if old_files|length > 0 %}
                        <div class="d-flex flex-column p-2 p-md-3">
                            <p>Previous versions:</p>
                            {% for file in old_files.values %}
                            <audio controls class="my-1">
                                <source src="{{ file.0 }}" type="audio/mpeg" />
                                Your browser does not support the audio tag.
                            </audio>
                            {% endfor %}
                        </div>
                        {% endif %}

                        <div class="tag-container px-1 px-md-2">
                            <p class="m-0">
                                {% for tag in entry.tags.all %}
                                <a href="{% url 'filter_tag' tag %}">
                                    <span class="tag hover-highlight">{{ tag }}</span>
                                </a>
                                {% endfor %}
                            </p>
                        </div>

                    </div>
                    <div class="card-footer d-flex flex-wrap align-content-center px-2 px-md-3">
                        {% include 'likes/snippets/like_comment_summary.html' %}
                    </div>
                </div>
                <div class="card card-desc no-shadow d-flex flex-column">
                    <div class="p-2 p-md-3">
                        <p class="text-muted">About this entry</p>
                        <p>
                            {{ entry.description|safe }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        {% include 'comments/snippets/comment_section.html' %}

    </div>

        <!-- Modal for entry deletion -->
        {% url 'delete_entry' user.username entry.slug as delete_url %}
        {% with modal_text=modal_text modal_id="modalDeleteEntry" modal_title_id="modalTitleIdDeleteEntry"  modal_title_text=modal_title delete_button_id="deleteEntryConfirm" new_url=delete_url %}
        {% include 'mainpage/snippets/modal.html' %}
        {% endwith %}

</div>



<!-- <form action="" method="GET">
        <button class="btn btn-success" name="edit" value="{{ entry.id }}" type="submit">Edit Entry</button>
    </form> -->
{% comment %} <div class="card">
    <div class="card-header">
        <h3>
            {% if entry.publish == 0 %}
            <i class="fa-solid fa-lock"></i>
            {% else %}
            <i class="fa-solid fa-globe"></i>
            {% endif %}
            {{ entry.title }}
        </h3>
        <p>Created: {{ entry.created_on|date:"Y, M d" }}</p>
    </div>
    <div class="card-body">
        <div>{{ entry.description | safe}}</div>
        <audio controls>
            <source src="{{ entry.audio_file.url }}" type="audio/mpeg" />
            Your browser does not support the audio tag.
        </audio>
        <div>
            <p>Previous versions:</p>
            {% for file in old_files.values %}
            <audio controls>
                <source src="{{ file.0 }}" type="audio/mpeg" />
                Your browser does not support the audio tag.
            </audio>
            {% endfor %}
        </div>


        <p>{{ entry.tags.all|join:", " }}</p>



        {% include 'likes/snippets/like_comment_summary.html' %}
    </div>
    <div></div>

    {% include 'comments/snippets/comment_section.html' %}
</div>
</div> {% endcomment %}

{% endblock %}



{% block extras %}
<script src="{% static 'js/likes.js' %}"></script>
{% endblock %}