{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/user-profile-styles.css' %}">
<link rel="stylesheet" href="{% static 'css/mainpage-styles.css' %}">

{% endblock %}


{% block content %}

<div class="row g-0 sidebar-margin">
    <div class="col-12">
        {% include 'users/snippets/profile_card.html' %}
    </div>

    <div class="col-12 col-md-10 m-auto">

        <hr>
        <div class="row g-0 px-2 pt-1 pb-0 mt-0 mb-2 justify-content-center filter-results">
            <div class="col-12 py-auto">
                {% if sorted_param == '?sorted=by_date' %}
                <h3 class="">Most <b>recent</b> entries</h3>
                {% elif sorted_param == '?sorted=by_likes' %}
                <h3 class="">Most <b>liked</b> entries</h3>
                {% else %}
                <h3 class="">All entries</h3>
                {% endif %}
            </div>
        </div>
        <hr>

        <div class="row g-0">
            <div class="m-auto col">

                <div
                    class="d-flex flex-wrap w-100 m-auto card-container justify-content-center justify-content-md-start ">

                    {% for entry in page_obj %}
                    <div class="card-outer mb-md-2 p-1">

                        <div class="card inner-card h-100 clickable"
                            onclick="this.querySelector('#{{ entry.slug }}').click()">
                            <div class="card-header pt-3">

                                <h3>
                                    <a href="{% url 'entry_details' entry.slug %}" class="title-link"
                                        id="{{ entry.slug }}">
                                        {{ entry.title }}
                                    </a>
                                </h3>

                            </div>
                            <div class="card-body d-flex flex-column">
                                <audio controls class="w-100 my-3">
                                    <source src="{{ entry.audio_file.url }}" type="audio/mpeg">
                                    Your browser does not support the audio tag.
                                </audio>
                                <p class="text-muted flex-fill">Created {{ entry.created_on|naturalday }}</p>

                                <div class="tag-container">
                                    <p class="m-0">
                                        {% for tag in entry.tags.all %}
                                        <a href="{% url 'filter_tag' tag %}">
                                            <span class="tag hover-highlight">{{ tag }}</span></a>
                                        {% endfor %}
                                    </p>
                                </div>

                            </div>
                            <div class="card-footer d-flex flex-wrap align-content-center">
                                {% include 'likes/snippets/like_comment_summary.html' %}
                            </div>
                        </div>

                    </div>

                    {% empty %}
                    <div>
                        <p>No one has uploaded any songs yet.</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

    {% include 'pagination.html' %}

</div>
<div class="mb-4"></div>


{% endblock %}

{% block extras %}
<script src="{% static 'js/likes.js' %}"></script>
{% endblock %}