{% load static %}

<div class="card">

    <!-- https://bbbootstrap.com/snippets/bootstrap-comment-section-reply-input-and-vote-up-and-down-73363704 -->

    <div class="container mt-5 mb-5">
        <div class="d-flex justify-content-center row">
            <div class="d-flex flex-column col-md-8">

                <div class="comment-bottom bg-white p-2 px-4">

                    {% if user.is_authenticated %}
                    <div class="d-flex flex-row add-comment-section justify-content-center mt-4 mb-4">
                        <div class="d-flex flex-column">
                            {% if "placeholder" in user.profile.pic.url %}
                            <img class="img-fluid img-responsive rounded-circle me-2 mt-4 mb-4"
                                src="{% static 'images/default_profile.jpg' %}" width="38">
                            {% else %}
                            <img class="img-fluid img-responsive rounded-circle me-2 mt-4 mb-4"
                                src="{{ user.profile.pic.url }}" width="38">
                            {% endif %}
                        </div>

                        <form method="POST" action="" id="commentForm"
                            class="d-flex flex-row flex-fill justify-content-center mt-4 mb-4">
                            {% csrf_token %}
                            <!-- {{ comment_form }} -->
                            {% for field in comment_form %}
                            <span class="visually-hidden">{{ field.label_tag }}</span>
                            {{ field }}
                            {% endfor %}

                            <!-- <input type="hidden" name="next" value="{{ request.path }}"> -->
                            <div class="d-flex flex-column">
                                <button class="btn btn-primary" id="submitButton" name="addNew"
                                    type="submit">Comment</button>
                            </div>
                        </form>

                    </div>
                    {% else %}
                    <p>Log in to leave a comment</p>
                    {% endif %}
                    {% for comment in entry.comments.all %}
                    <div class="commented-section mt-2">
                        <div class="d-flex flex-row align-items-center commented-user">
                            {% if "placeholder" in comment.author.profile.pic.url %}
                            <img class="img-fluid img-responsive rounded-circle me-2"
                                src="{% static 'images/default_profile.jpg' %}" width="30">
                            {% else %}
                            <img class="img-fluid img-responsive rounded-circle me-2"
                                src="{{ comment.author.profile.pic.url }}" width="30">
                            {% endif %}
                            <a href="{% url 'user_profile' comment.author.username %}" class="ms-2 me-3 mt-1">
                                <h5>{{ comment.author }}</h5>
                            </a>
                            <p class="flex-fill"></p>
                            <p class="mt-1 ms-2 text-muted text-end">on {{ comment.created_on }}</p>
                        </div>

                        <div id="comment{{ comment.id }}" class="comment-text-sm my-2">
                            <span>{{ comment.content|linebreaks }}</span>
                        </div>

                        {% if user.is_authenticated and comment.author == user %}
                        <div id="commentform{{ comment.id }}" class="comment-text-sm my-2 visually-hidden">
                            <form method="POST" action="" id="editCommentForm{{ comment.id }}"
                                class="d-flex flex-row flex-fill justify-content-center mt-4 mb-4">
                                {% csrf_token %}

                                <label for="updatedComment{{ comment.id }}" class="visually-hidden">Your
                                    Comment:</label>
                                <textarea type="text" class="flex-fill form-control" name="content"
                                    id="updatedComment{{ comment.id }}"></textarea>
                                <!-- <input type="hidden" name="next" value="{{ request.path }}"> -->
                                <div class="d-flex flex-column">
                                    <button class="btn btn-primary" name="updateOld" type="submit">Update</button>
                                </div>
                            </form>
                        </div>
                        <div>
                            <button type="button" class="btn btn-edit btn-success"
                                data-comment_id="{{ comment.id }}">Edit</button>
                            <button type="button" class="btn btn-delete btn-danger" data-comment_id="{{ comment.id }}" data-bs-toggle="modal" data-bs-target="#modalDelete">Delete</button>
                            <!--  -->

                        </div>
                        {% endif %}

                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">
                    Delete comment?
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">Are you sure you want to delete your comment? This action cannot be undone!
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    No, cancel
                </button>
                <a id="deleteConfirm" href="{{ request.path }}" class="btn btn-danger" role="button">Yes, delete</a>
            </div>
        </div>
    </div>
</div>

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}