{% load static %}

<div class="card-footer">
    <p>
        {% if user.is_authenticated and entry.author != user %}
            
            <a class="btn-like like" data-entry_id="{{ entry.id }}" href="{{ request.path }}">

                {% if entry.already_liked == 1 or is_favorite == 1 %}
                <i class="fa-solid fa-heart like-red"></i>
                {% else %}
                <i class="fa-regular fa-heart"></i>
                {% endif %}
            </a>
        {% else %}
        <i class="fa-regular fa-heart text-muted"></i>
        {% endif %}
        {{ entry.all_likes.all|length }} | <i class="fa-regular fa-comment"></i> {{entry.comments.all|length }}
    </p>
</div>

