<!-- The pagination links contain the GET sorting parameters, if any, in order to not lose
 the sorting applied by the user on page 1 -->
<div class="row">
    <div class="col-12 col-md-10 m-auto">
        {% if page_obj.paginator.num_pages > 1 %}
        <nav aria-label="Page navigation">
            <ul class="pagination d-flex justify-content-center mt-3 mb-5">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="{% if sorted_param %}{{ sorted_param }}&{% else %}?{% endif %}page=1"
                        class="page-link text-color">
                        <i class="fa-solid fa-angles-left" title="First page"></i>
                    </a>
                </li>
                <li class="page-item">
                    <a href="{% if sorted_param %}{{ sorted_param }}&{% else %}?{% endif %}page={{ page_obj.previous_page_number }}"
                        class="page-link text-color">
                        <i class="fa-solid fa-chevron-left" title="Previous page"></i>
                    </a>
                </li>
                {% else %}
                <li class="page-item page-link text-muted font-light">
                    <i class="fa-solid fa-angles-left"></i>
                </li>
                <li class="page-item page-link text-muted font-light">
                    <i class="fa-solid fa-chevron-left"></i>
                </li>
                {% endif %}

                <li class="page-item page-link current text-color">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </li>

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="{% if sorted_param %}{{ sorted_param }}&{% else %}?{% endif %}page={{ page_obj.next_page_number }}"
                        class="page-link text-color">
                        <i class="fa-solid fa-chevron-right" title="Next page"></i>
                    </a>
                </li>
                <li class="page-item">
                    <a href="{% if sorted_param %}{{ sorted_param }}&{% else %}?{% endif %}page={{ page_obj.paginator.num_pages }}"
                        class="page-link text-color">
                        <i class="fa-solid fa-angles-right" title="Last page"></i>
                    </a>
                </li>
                {% else %}
                <li class="page-item page-link text-muted font-light">
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li class="page-item page-link text-muted font-light">
                    <i class="fa-solid fa-angles-right"></i>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>