.profile-bg {
  background-color: #55ad9b;
}

h2 {
 font-size: 1.5rem;
}

.profile-card {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: black;
}

.profile-card a {
  text-decoration: none;
  color: antiquewhite;
}

.profile-card .bio a {
  text-decoration: underline;
  color: antiquewhite;
}

.avatar-lg {
  object-fit: cover;
  width: 120px;
  height: 120px;
}

.avatar-md {
  object-fit: cover;
  width: 38px;
  height: 38px;
  aspect-ratio: 1 / 1;
}

.form-control {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0;
  width: 100% !important;
}

.btn-save {
  border: 1px solid black;
  border-radius: 0;
  padding: 0.6rem 0.8rem;
  background-color: transparent;
}
