{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>MusicLab</h1>

    <form method="GET">
        <!-- {% csrf_token %} -->
        <p>Sort entries:</p>
        <button name="sorted" id="by_likes" value="by_likes" class="btn btn-primary" href="#" type="submit">Most
            popular</button>
        <button name="sorted" id="by_date" value="by_date" class="btn btn-primary" href="#" type="submit">Newest
            first</button>
    </form>

    {% for entry in page_obj %}
    <div class="card">
        <div class="card-header">
            <p>Created by <a href="{% url 'user_profile' entry.author.username %}">{{ entry.author }}</a></p>
            <a href="{% url 'entry_details' entry.slug %}">
                <h3>{{ entry.title }}</h3>
            </a>
            <p>Created: {{ entry.created_on|date:"Y, M d" }}</p>
        </div>
        <div class="card-body">
            <audio controls class="w-100">
                <source src="{{ entry.audio_file.url }}" type="audio/mpeg">
                Your browser does not support the audio tag.
            </audio>
            <p>
                {{ entry.tags.all|join:", " }}
            </p>
            <div class="card-footer">
                <p>Likes: {{ entry.all_likes.all|length }} | Comments: {{ entry.comments.all|length }}</p>

            </div>
        </div>
    </div>
    {% empty %}
    <div>
        <p>This user has not uploaded any songs yet.</p>
    </div>
    {% endfor %}

    {% include 'pagination.html' %}
    
</div>

{% endblock content %}