{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>MusicLab</h1>

    <form method="GET">
        <!-- {% csrf_token %} -->
        <p>Sort entries:</p>
        <button name="sorted" id="by_likes" value="by_likes" class="btn btn-primary" href="#" type="submit">Most
            popular</button>
        <button name="sorted" id="by_date" value="by_date" class="btn btn-primary" href="#" type="submit">Newest
            first</button>
    </form>

    {% for entry in page_obj %}
    <div class="card">
        <div class="card-header">
            <p>Created by <a href="{% url 'user_profile' entry.author.username %}">{{ entry.author }}</a></p>
            <a href="{% url 'entry_details' entry.slug %}">
                <h3>{{ entry.title }}</h3>
            </a>
            <p>Created: {{ entry.created_on|date:"Y, M d" }}</p>
        </div>
        <div class="card-body">
            <audio controls class="w-100">
                <source src="{{ entry.audio_file.url }}" type="audio/mpeg">
                Your browser does not support the audio tag.
            </audio>
            <p>
                {{ entry.tags.all|join:", " }}
            </p>
            <div class="card-footer">
                <p>Likes: {{ entry.all_likes.all|length }} | Comments: {{ entry.comments.all|length }}</p>

            </div>
        </div>
    </div>
    {% empty %}
    <div>
        <p>This user has not uploaded any songs yet.</p>
    </div>
    {% endfor %}

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
            <a href="{% if sorted_param %}{{ sorted_param }}&{% else %}?{% endif %}page=1" class="page-link">&laquo; first</a>
        </li>
        <li class="page-item">
            <a
                href="{% if sorted_param %}{{ sorted_param }}&{% else %}?{% endif %}page={{ page_obj.previous_page_number }}" class="page-link">previous</a>
            </li>
                {% else %}
            <li class="page-item page-link text-muted">
                &laquo; first
            </li>
            <li class="page-item page-link text-muted">
                previous
            </li>
                {% endif %}


            <li class="page-item page-link current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </li>

            {% if page_obj.has_next %}
            <li class="page-item">
            <a
                href="{% if sorted_param %}{{ sorted_param }}&{% else %}?{% endif %}page={{ page_obj.next_page_number }}" class="page-link">next</a>
            </li>
            <li class="page-item">
                <a
                href="{% if sorted_param %}{{ sorted_param }}&{% else %}?{% endif %}page={{ page_obj.paginator.num_pages }}" class="page-link">last
                &raquo;</a>
            </li>
                {% else %}
                <li class="page-item page-link text-muted">
                    next
                </li>
                <li class="page-item page-link text-muted">
                    last&raquo;
                </li>
            {% endif %}
        
        </ul>
    </nav>
</div>

{% endblock content %}