{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <h1>MusicLab</h1>
    <hr>
    <div class="card">
        <div class="card-header">
            <p>
                {% if "placeholder" in entry.author.profile.pic.url %}
                <img src="{% static 'images/default_profile.jpg' %}" alt="user profile picture" width="30" height="30"
                class="rounded-circle">
                {% else %}
                <img src="{{ entry.author.profile.pic.url }}" alt="user profile picture" width="30" height="30"
                    class="rounded-circle">
                {% endif %}
                <a href="{% url 'user_profile' entry.author.username %}">{{ entry.author }}</a></p>
            <h3>{{ entry.title }}</h3>
            <p>Created: {{ entry.created_on|date:"Y, M d" }}</p>
        </div>
        <div class="card-body">
            <div>{{ entry.description | safe}}</div>
            <audio controls>
                <source src="{{ entry.audio_file.url }}" type="audio/mpeg">
                Your browser does not support the audio tag.
            </audio>
            <p>
                {{ entry.tags.all|join:", " }}
            </p>

            {% include 'like_comment_summary.html' %}

        </div>
        <div>

        </div>

        {% include 'comment_section.html' %}
        
    </div>

</div>


{% endblock %}

{% block extras %}
<script src="{% static 'js/likes.js' %}"></script>
{% endblock %}