{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block styles %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/entries-styles.css' %}">
<link rel="stylesheet" href="{% static 'css/form-styles.css' %}">

{% endblock %}

{% block content %}

<div class="row g-0 sidebar-margin m-auto h-100">

    <h2 class="mt-2 mt-md-4 text-center">
        {% if entry %}
           Editing <b>{{ entry.title }}</b>
        {% endif %}
        </h2>

    <div class="row g-0 justify-content-center ps-1 p-md-1">
        <div class="col-12 col-md-10 col-xl-6 d-flex flex-column ps-1 pe-0 p-md-4">

            <form method="POST" action="" id="entryForm" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row my-3">
                    <div class="col-12 col-md-3">
                        <p>{{ entry_form.title.label }}</p>
                    </div>
                    <div class="col-12 col-md-9">
                        <p class="active-tooltip" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="{% if entry_form.title.errors %}{{ entry_form.title.errors.0|escape}}{% endif %}">
                            {{ entry_form.title }}
                        </p>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-12 col-md-3">
                        <p>{{ entry_form.description.label }}</p>
                    </div>
                    <div class="col-12 col-md-9 active-tooltip" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="{% if entry_form.description.errors %}{{ entry_form.description.errors.0|escape}}{% endif %}">
                            {{ entry_form.description }}
                    </div>
                </div>

                {% if entry %}
                <div class="row my-3">
                    <div class="col-12 col-md-3">
                        <p>Your current audio file:</p>
                    </div>
                    <div class="col-12 col-md-9">
                        <audio controls preload="none" class="w-100">
                            <source src="{{ entry.audio_file.url }}" type="audio/mpeg">
                            Your browser does not support the audio tag.
                        </audio>
                    </div>
                </div>
                {% endif %}

                <div class="row my-3">
                    <div class="col-12 col-md-3">
                        <p>{{ entry_form.audio_file.label }}</p>
                    </div>
                    <div class="col-12 col-md-9 active-tooltip" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="{% if entry_form.audio_file.errors %}{{ entry_form.audio_file.errors.0|escape}}{% endif %}">
                            {{ entry_form.audio_file }}
                    </div>
                </div>

                {% if entry %}
                <div class="row my-3">
                    <div class="col-12 col-md-3">
                        <p>{{ entry_form.keep_file.label }}</p>
                    </div>
                    <div class="col-12 col-md-9 active-tooltip" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="{% if entry_form.keep_file.errors %}{{ entry_form.keep_file.errors.0|escape}}{% endif %}">
                            {{ entry_form.keep_file }}
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-12 col-md-3">
                        <p>{{ entry_form.old_files.label }}</p>
                    </div>
                    <div class="col-12 col-md-9">
                        {% for key, value in old_files.items %}
                        <p class="text-muted">added {{ value.1 }}</p>
                        <div class="d-flex flex-row flex-wrap">
                        <audio controls preload="none" class="old-audio">
                            <source src="{{ value.0 }}" type="audio/mpeg">
                            Your browser does not support the audio tag.
                        </audio>
                        <button type="button" class="btn btn-delete hover-highlight ms-1" data-file_id="{{ key }}"
                            data-bs-toggle="modal" data-bs-target="#modalDeleteOldFile"><i class="fa-solid fa-trash"></i></button>
                        </div>
                        {% empty %}
                        <p>No files yet</p>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                <div class="row my-3">
                    <div class="col-12 col-md-3">
                        <p>{{ entry_form.tags.label }}</p>
                    </div>
                    <div class="col-12 col-md-9 active-tooltip" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="{% if entry_form.tags.errors %}{{ entry_form.tags.errors.0|escape}}{% endif %}">
                            {{ entry_form.tags }}
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-12 col-md-3">
                        <p>{{ entry_form.publish.label }}</p>
                    </div>
                    <div class="col-12 col-md-9 active-tooltip" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="{% if entry_form.publish.errors %}{{ entry_form.publish.errors.0|escape}}{% endif %}">
                            {{ entry_form.publish }}
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-12 col-md-3">
                        <p></p>
                    </div>
                    <div class="col-12 col-md-9">
                        <p>Please do <b>not</b> close the page after clicking the "Save" button. Wait for the file upload to finish. </button>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-12 col-md-3">
                        <p></p>
                    </div>
                    <div class="col-12 col-md-9">
                        <button id="submitButton" name="submit" type="submit" class="btn btn-general hover-highlight">
                            Save
                        </button>
                    </div>
                </div>

            </form>

        </div>
    </div>

   
    <!-- Modal for file deletion -->
    {% with modal_text="Are you sure you want to delete your old file? This action cannot be undone!" modal_id="modalDeleteOldFile" modal_title_id="modalTitleIdDeleteFiles" modal_title_text="Delete old file?" delete_button_id="deleteFileConfirm" %}
    {% include 'mainpage/snippets/modal.html' %}
    {% endwith %}


{% endblock %}

{% block extras %}
<script src="{% static 'js/entries.js' %}"></script>
{% endblock %}