{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block styles %}
<!-- Mainpage CSS -->
<link rel="stylesheet" href="{% static 'css/entries-styles.css' %}" />

{% endblock %}

{% block content %}

<div class="row g-0 sidebar-margin">
    <div class="m-auto col-12 col-md-10">

        <div class="row g-0 justify-content-center">
           
            {% include 'entries/snippets/entry_fullpage.html' %}

        </div>

        {% include 'comments/snippets/comment_section.html' %}

    </div>
</div>

{% endblock %}

{% block extras %}
<script src="{% static 'js/likes.js' %}"></script>
{% endblock %}