{% extends 'base.html' %}
{% load static %}

{% block styles %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/entries-styles.css' %}" />
{% endblock %}

{% block content %}
<div class="row g-0 sidebar-margin m-auto h-100">

    <h1>{{ entry.title }}</h1>

    <div class="d-flex flex-row justify-content-center">
        <div class="col-8 d-flex flex-column p-4">
            <form method="POST" action="" id="entryForm" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="d-flex flex-row my-3">
                    <div class="col-4">
                        <p>{{ entry_form.title.label }}</p>
                    </div>
                    <div class="col-8">
                        {% if entry_form.title.errors %}
                        <p class="active-tooltip" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="{{ entry_form.title.errors.0|escape}}">
                            {% endif %}
                            {{ entry_form.title }}
                        </p>
                    </div>
                </div>
                <div class="d-flex flex-row my-3">
                    <div class="col-4">
                        <p>{{ entry_form.description.label }}</p>
                    </div>
                    <div class="col-8">
                        {% if entry_form.description.errors %}
                        <p class="active-tooltip" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="{{ entry_form.description.errors.0|escape}}">
                            {% endif %}
                            {{ entry_form.description }}
                    </div>
                </div>
                <div class="d-flex flex-row my-3">
                    <div class="col-4">
                        <p>Your current audio file:</p>
                    </div>
                    <div class="col-8">
                        <audio controls class="w-100">
                            <source src="{{ entry.audio_file.url }}" type="audio/mpeg">
                            Your browser does not support the audio tag.
                        </audio>
                    </div>
                </div>
                <div class="d-flex flex-row my-3">
                    <div class="col-4">
                        <p>{{ entry_form.audio_file.label }}</p>
                    </div>
                    <div class="col-8">
                        {% if entry_form.audio_file.errors %}
                        <p class="active-tooltip" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="{{ entry_form.audio_file.errors.0|escape}}">
                            {% endif %}
                            {{ entry_form.audio_file }}
                    </div>
                </div>
                <div class="d-flex flex-row my-3">
                    <div class="col-4">
                        <p>{{ entry_form.keep_file.label }}</p>
                    </div>
                    <div class="col-8">
                        {% if entry_form.keep_file.errors %}
                        <p class="active-tooltip" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="{{ entry_form.keep_file.errors.0|escape}}">
                            {% endif %}
                            {{ entry_form.keep_file }}
                    </div>
                </div>
                <div class="d-flex flex-row my-3">
                    <div class="col-4">
                        <p>{{ entry_form.old_files.label }}</p>
                    </div>
                    <div class="col-8">
                        {% for key, value in old_files.items %}
                        <p>added {{ value.1 }}</p>
                        <audio controls preload="none">
                            <source src="{{ value.0 }}" type="audio/mpeg">
                            Your browser does not support the audio tag.
                        </audio>
                        <button type="button" class="btn btn-danger btn-delete" data-file_id="{{ key }}"
                            data-bs-toggle="modal" data-bs-target="#modalDeleteOldFile">Delete</button>
                        {% empty %}
                        <p>No files yet</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="d-flex flex-row my-3">
                    <div class="col-4">
                        <p>{{ entry_form.tags.label }}</p>
                    </div>
                    <div class="col-8">
                        {% if entry_form.tags.errors %}
                        <p class="active-tooltip" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="{{ entry_form.tags.errors.0|escape}}">
                            {% endif %}
                            {{ entry_form.tags }}
                    </div>
                </div>
                <div class="d-flex flex-row my-3">
                    <div class="col-4">
                        <p>{{ entry_form.publish.label }}</p>
                    </div>
                    <div class="col-8">
                        {% if entry_form.publish.errors %}
                        <p class="active-tooltip" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="{{ entry_form.publish.errors.0|escape}}">
                            {% endif %}
                            {{ entry_form.publish }}
                    </div>
                </div>
                <div class="d-flex flex-row my-3">
                    <div class="col-4">
                        <p></p>
                    </div>
                    <div class="col-8">
                        <p>Please do <b>not</b> close the page after clicking the "Save" button. Wait for the file upload to finish. </button>
                    </div>
                </div>
                <div class="d-flex flex-row my-3">
                    <div class="col-4">
                        <p></p>
                    </div>
                    <div class="col-8">
                        <button id="submitButton" name="submit" type="submit" class="btn btn-success"
                            id="btn-save-entry">Save</button>
                    </div>
                </div>

            </form>

        </div>
    </div>

   
    <!-- Modal for file deletion -->
    {% with modal_text="Are you sure you want to delete your old file? This action cannot be undone!" modal_id="modalDeleteOldFile" modal_title_id="modalTitleIdDeleteFiles" modal_title_text="Delete old file?" delete_button_id="deleteFileConfirm" %}
    {% include 'mainpage/snippets/modal.html' %}
    {% endwith %}


{% endblock %}

{% block extras %}
<script src="{% static 'js/entries.js' %}"></script>
{% endblock %}